#descripcion {
    color: rgb(50, 155, 204);
    text-align: left;
    padding: 250px 10% 10px 10%;
}

h1 {
    font-size: 60px;
    margin: 0px;
}

#subtitle {
    font-size: 40px;
    margin-top: 0px;
}

button{
    margin-right: 30px;
}

body {
    background: #dcf7ff
}