#descripcion {
    color: rgb(50, 155, 204);
    text-align: left;
    padding: 16rem 16rem 0 16rem;
}

h1 {
    font-size: 60px;
    margin: 0px;
}

#subtitle {
    font-size: 40px;
    margin-top: 0px;
}

a{
    margin-top: 2rem;
    margin-right: 2rem;
    text-decoration: none;
    padding: 1rem;
}

body {
    background: #dcf7ff
}