@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Linea para Debug
*{
    border: 1px solid black;
}*/

body {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

/*Boton principal*/

.btn-1 {
  font-weight: 700;
  color: rgb(55, 183, 243);
  font-size: 20px;
  background-color: rgb(245, 245, 245);
  border: 0px;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
  border: 3px solid rgb(55, 183, 243);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*Boton secundiario*/

.btn-2 {
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color: rgb(29, 221, 255);
  border: 0px;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
  border: 3px solid rgb(55, 183, 243);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#map_container {
    max-width: 500px; /* O el tamaño que quieras que ocupe en la web */
    margin: 20px auto;
    border: 3px solid #79c3ff;
    border-radius: 15px;
    overflow: hidden; /* Corta lo que sobre si fuera necesario */
    background-color: #f0f0f0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

#mapCanvas {
    width: 100%;  /* Esto escala la imagen enormemente grande al tamaño del contenedor */
    height: auto; /* Mantiene la proporción */
    display: block;
}